$border:'10px solid black';
div{
    section
    span{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border:1px solid black;
    }
    p{
        display: inline-block;
        color: coral;
        margin-left: max(40px);
    }
}